/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/poppins-v19-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v19-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url("../fonts/poppins-v19-latin-600.woff2") format("woff2"), url("../fonts/poppins-v19-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/poppins-v19-latin-700.woff2") format("woff2"), url("../fonts/poppins-v19-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 90px;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #22343D;
  height: 100vh;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  left: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  z-index: 5;
  -webkit-box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.1);
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1131px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  color: #fff;
  background-color: #02897A;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 22px 9px 25px;
}

.button:hover {
  cursor: pointer;
  color: #02897A;
  background-color: transparent;
  border: 1px solid #02897A;
}

.logo {
  width: 171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__img {
  width: 40px;
  height: 36.36px;
}

.logo__text {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: #173A56;
}

@media only screen and (max-width: 1131px) {
  .logo {
    width: 160px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .logo__text {
    margin-left: 12px;
  }
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 379px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item-link {
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
}

.header__item-link:hover {
  font-weight: 600;
}

.header__item-link--active {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

@media only screen and (max-width: 1131px) {
  .header__list {
    width: 300px;
    margin-right: 0;
    padding: 0 7px;
  }
  .header__item-link {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
  }
  .header__item-link--active {
    font-weight: 600;
  }
}

@media only screen and (max-width: 768px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .header__item-link {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 27px;
    line-height: 54px;
    color: #fff;
    padding-bottom: 5px;
  }
  .header__item-link:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .header__item-link--active {
    font-weight: 700;
  }
}

@-webkit-keyframes to-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes to-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes to-back {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes to-back {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.header__container {
  max-width: 1150px;
  padding-top: 23px;
  padding-bottom: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__box {
  width: 695px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons {
  margin-left: auto;
  max-width: 292px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173A56;
  padding: 10px 22px 9px 25px;
  background-color: transparent;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}

.header__button:hover {
  color: #fff;
  background-color: #02897A;
  cursor: pointer;
  border: 1px solid #02897A;
}

.header__button :focus {
  border: none;
}

.header__button--register {
  color: #fff;
  background-color: #02897A;
  border: #02897A;
}

.header__button--register:hover {
  color: #02897A;
  background-color: transparent;
  border: 1px solid #02897A;
}

.header__button-daynight {
  width: 32px;
  height: 32px;
  padding: 6px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 50%;
}

.header__button-daynight:hover {
  cursor: pointer;
}

.header__button-daynight:focus {
  border: none;
}

.header__burger {
  display: none;
  width: 28px;
  height: 19px;
  border: none;
  background-color: transparent;
}

.header__burger::before, .header__burger::after, .header__burger-inner {
  width: 24px;
  height: 3px;
  background-color: #173A56;
  border-radius: 14px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  content: '';
}

@media only screen and (max-width: 1131px) {
  .header__container {
    max-width: 1131px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo {
    margin-right: 6%;
  }
  .header__box {
    max-width: 695px;
    margin-left: auto;
  }
  .header__buttons {
    margin-left: auto;
    max-width: 242px;
  }
  .header__button {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    padding: 7.5px 18px 6.5px 21px;
  }
}

@media only screen and (max-width: 768px) {
  .header__container {
    max-width: 380px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__box {
    display: none;
    margin: 0;
    padding: 0;
    -webkit-animation: to-back 0.4s;
            animation: to-back 0.4s;
  }
  .header__logo {
    margin: 0;
    padding: 0;
    margin-right: auto;
  }
  .header__buttons {
    margin: 0;
    padding: 0;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__burger--opened {
    position: relative;
  }
  .header__burger--opened .header__burger-inner {
    display: none;
  }
  .header__burger--opened::before, .header__burger--opened::after {
    width: 21.69px;
    height: 3.69px;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  .header__burger--opened::after {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .header__burger--opened::before {
    margin-bottom: 0;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .header__shadow--activated {
    width: 100%;
    height: calc(100vh - 88px);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.75;
    z-index: 2;
  }
  .header__box--opened {
    -webkit-animation: to-left 0.4s;
            animation: to-left 0.4s;
    width: 60%;
    height: calc(100vh - 88px);
    background-color: #000000;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 3;
  }
  .header__buttons {
    max-width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 280px;
  }
  .header__button {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 22px;
    padding: 5px 14px 5px 14px;
    color: white;
  }
}

.intro {
  margin-top: 25px;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__container::after {
  width: 600px;
  height: 555px;
  background-image: url(../../img/intro.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .intro__container::after {
    background-image: url(../../img/intro@2x.png);
    /* Retina-specific stuff here */
  }
}

.intro__content {
  max-width: 518px;
}

.intro__title {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343D;
}

.intro__description {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343D;
  margin-bottom: 45px;
}

.intro__buttons {
  max-width: 366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__button {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 15px 41px 14px;
  background-color: #02897A;
  border: 1px solid #02897A;
  border-radius: 4px;
}

.intro__button:hover {
  cursor: pointer;
  color: #02897A;
  background-color: transparent;
  border: 1px solid #02897A;
}

.intro__link {
  width: 161px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__link-text {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #02897A !important;
  text-decoration: underline;
}

.intro__link-text:hover {
  text-decoration: none;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media only screen and (max-width: 1131px) {
  .intro__container::after {
    width: 560px;
  }
  .intro__content {
    width: 47.47%;
    padding-right: 2px;
  }
  .intro__title {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .intro__description {
    font-family: 'poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
  .intro__button {
    padding: 10px 18px;
  }
  .intro__link {
    width: 144px;
  }
  .intro__link-text {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .intro__container::after {
    width: 338px;
    height: 310px;
  }
  .intro__content {
    width: 369px;
    text-align: center;
  }
  .intro__title {
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 16px;
  }
  .intro__description {
    font-family: 'poppins', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }
  .intro__buttons {
    width: 335px;
  }
  .intro__button {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 24px 14px 25px;
  }
  .intro__link {
    width: 165px;
  }
  .intro__link-text {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}

.built {
  margin-top: 114px;
  margin-bottom: 200px;
  width: 100%;
  height: 543px;
  background-image: url(../img/built-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: background-image 0.4s;
  transition: background-image 0.4s;
}

.built__title {
  width: 529px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 66px;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343D;
  text-align: center;
}

.built__list {
  max-width: 1095px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.built__item {
  width: 240px;
}

.built__item::before {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
  margin-bottom: 30px;
  content: '';
}

.built__item--first::before {
  background-image: url(../img/built-first.svg);
}

.built__item--design::before {
  background-image: url(../img/built-design.svg);
}

.built__item--preference::before {
  background-image: url(../img/built-preference.svg);
}

.built__item--five::before {
  background-image: url(../img/built-five.svg);
}

.built__item-title {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22343D;
  margin-bottom: 13px;
}

.built__item-description {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}

.built__button {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 32px 14px 34px;
  text-transform: uppercase;
  font-weight: 700;
}

@media only screen and (max-width: 1131px) {
  .built {
    height: 743px;
  }
  .built__list {
    margin-left: auto;
    margin-right: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .built__item {
    width: 364px;
    text-align: center;
  }
  .built__item--first,
  .built__item--design {
    margin-bottom: 40px;
  }
  .built__item-description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) {
  .built {
    background-image: url(../img/built-mobile-bg.png);
    height: 1095px;
  }
  .built__title {
    width: 331px;
    margin-bottom: 50px;
  }
  .built__list {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .built__item {
    width: 240px;
  }
  .built__item::before {
    margin-bottom: 24px;
  }
  .built__item-title {
    margin-bottom: 8px;
  }
}

.benefits {
  margin-top: 150px;
}

.benefits__list {
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: -150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.benefits__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

.benefits__item-content {
  width: 486px;
}

.benefits__item-management::after {
  display: block;
  width: 539px;
  height: 473px;
  background-image: url(../img/benefits-managment.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .benefits__item-management::after {
    background-image: url(../img/benefits-managment@2x.png);
    /* Retina-specific stuff here */
  }
}

.benefits__item-validation {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.benefits__item-managment-title {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 131px;
}

.benefits__item-managment-description {
  display: none;
}

.benefits__item-marker {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 12px;
}

.benefits__item-marker-desc {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 25px;
}

.benefits__item-altereonist {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 12px;
}

.benefits__item-altereonist-desc {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.benefits__item-support::before {
  display: inline-block;
  width: 543px;
  height: 500px;
  background-image: url(../img/benefits-support.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .benefits__item-support::before {
    background-image: url(../img/benefits-support@2x.png);
    /* Retina-specific stuff here */
  }
}

.benefits__item-easier {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.benefits__item-support-title {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 23px;
}

.benefits__item-support-desc {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

.benefits__support-list {
  margin-bottom: -30px;
  width: 430px;
}

.benefits__support-item {
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.benefits__support-item::before {
  display: inline-block;
  width: 35px;
  height: 35px;
  content: '';
}

.benefits__support-item--orange::before {
  background-image: url(../img/orange-check.svg);
}

.benefits__support-item--red::before {
  background-image: url(../img/red-check.svg);
}

.benefits__support-item--blue::before {
  background-image: url(../img/blue-check.svg);
}

.benefits__support-desc {
  width: 365px;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.benefits__item-collaborative::after {
  display: inline-block;
  width: 541px;
  height: 451px;
  background-image: url(../img/benefits-collaborative.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .benefits__item-collaborative::after {
    background-image: url(../img/benefits-collaborative@2x.png);
    /* Retina-specific stuff here */
  }
}

.benefits__item-optimisation {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 8px;
}

.benefits__item-collaborative-title {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 23px;
}

.benefits__item-collaborative-desc {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1131px) and (min-width: 768px) {
  .benefits__list {
    margin-left: auto;
    margin-right: auto;
  }
  .benefits__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits__item-management,
  .benefits__item-collaborative {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .benefits__item::before {
    margin-right: auto;
    margin-bottom: 40px;
  }
  .benefits__item-support > .benefits__item-content {
    margin-left: auto;
  }
  .benefits__item-management::after {
    margin-left: auto;
    margin-bottom: 40px;
  }
  .benefits__item-management > .benefits__item-content {
    margin-right: auto;
    text-align: right;
  }
  .benefits__item-collaborative::after {
    margin-left: auto;
    margin-bottom: 40px;
  }
  .benefits__item-collaborative > .benefits__item-content {
    margin-right: auto;
    text-align: right;
  }
  .benefits__item-managment-title {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .benefits__list {
    width: 335px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .benefits__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
            align-items: unset !important;
  }
  .benefits__item-management,
  .benefits__item-collaborative {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }
  .benefits__item-management::after {
    display: inline-block;
    width: 349px;
    height: 306px;
    margin-bottom: 50px;
    background-image: url(../img/benefits-managment.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
  }
}

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min-resolution: 192dpi), only screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .benefits__item-management::after {
    background-image: url(../img/benefits-managment@2x.png);
    /* Retina-specific stuff here */
  }
}

@media only screen and (max-width: 768px) {
  .benefits__item-support::before {
    display: inline-block;
    width: 350px;
    height: 319px;
    margin-bottom: 50px;
    background-image: url(../img/benefits-support-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
  }
}

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min-resolution: 192dpi), only screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .benefits__item-support::before {
    background-image: url(../img/benefits-support-mobile@2x.png);
    /* Retina-specific stuff here */
  }
}

@media only screen and (max-width: 768px) {
  .benefits__item-collaborative::after {
    display: inline-block;
    width: 350px;
    height: 291.46px;
    margin-bottom: 50px;
    background-image: url(../img/benefits-collaborative-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
  }
}

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min-resolution: 192dpi), only screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .benefits__item-collaborative::after {
    background-image: url(../img/benefits-collaborative-mobile@2x.png);
    /* Retina-specific stuff here */
  }
}

@media only screen and (max-width: 768px) {
  .benefits__item-content {
    margin: 0;
    padding: 0;
    width: 335px;
  }
  .benefits__item-managment-title {
    margin-bottom: 10px;
  }
  .benefits__item-managment-description {
    display: block;
    margin-bottom: 20px;
  }
  .benefits__support-list {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
  .benefits__support-item {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .benefits__support-desc {
    width: 280px;
  }
  .benefits__item-managment-title {
    margin-bottom: 16px;
  }
  .benefits__item-managment-description {
    margin-bottom: 16px;
  }
  .benefits__item-marker {
    margin-bottom: 12px;
  }
  .benefits__item-marker-desc {
    margin-bottom: 12px;
  }
  .benefits__item-altereonist {
    margin-bottom: 12px;
  }
  .benefits__item-altereonist-desc {
    margin-bottom: 97px;
  }
  x .benefits__item-support-title {
    margin-bottom: 15.77px;
  }
  .benefits__item-support-desc {
    margin-bottom: 16px;
  }
  .benefits__item-collaborative-title {
    margin-bottom: 16px;
  }
  .benefits__item-collaborative-desc {
    margin-bottom: 16px;
  }
}

.process {
  margin-top: 150px;
  width: 100%;
  height: 521.54px;
  background-image: url(../img/process-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transition: background-image 0.4s;
  transition: background-image 0.4s;
}

.process__container {
  padding-top: 52.54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process__title {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 16px;
}

.process__description {
  max-width: 542px;
  margin: 0 auto;
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.process__list {
  max-width: 963px;
  margin: 0 auto;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process__item--old-woman, .process__item--guy {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.process__item--woman, .process__item--old-woman {
  margin-bottom: 24px;
}

.process__quote {
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2F281E;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
          box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  position: relative;
}

.process__quote::before {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: -7px;
  content: '';
}

.process__quote::after {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: -18px;
  content: '';
}

.process__item--woman {
  max-width: 388px;
  width: 100%;
}

.process__item--woman .process__quote {
  padding: 15px 24px 14px 25px;
}

.process__item--woman .process__quote::before {
  left: 32px;
}

.process__item--woman .process__quote::after {
  left: 21px;
}

.process__item--old-woman {
  max-width: 354px;
  width: 100%;
}

.process__item--old-woman .process__quote {
  padding: 15px 18px 14px 22px;
}

.process__item--old-woman .process__quote::before {
  right: 36px;
}

.process__item--old-woman .process__quote::after {
  right: 17px;
}

.process__item--guy {
  max-width: 377px;
  width: 100%;
}

.process__item--guy .process__quote {
  padding: 15px 30px 14px 33px;
}

.process__item--guy .process__quote::before {
  right: 55px;
}

.process__item--guy .process__quote::after {
  right: 36px;
}

.process__item--old-man {
  max-width: 395px;
  width: 100%;
}

.process__item--old-man .process__quote {
  padding: 14px 19px 15px 23px;
}

.process__item--old-man .process__quote::before {
  right: 36px;
}

.process__item--old-man .process__quote::after {
  right: 17px;
}

.process__button {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 48px;
  padding: 15px 31px 14px 30px;
  background-color: #02897A;
  border: 1px solid #02897A;
  border-radius: 4px;
  color: #fff;
}

.process__button:hover {
  color: #02897A;
  border: 1px solid #02897A;
  background-color: transparent;
}

@media only screen and (max-width: 1131px) {
  .process__item {
    max-width: 360px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .process__item .process__quote {
    padding: 15px 23px 14px 24px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .process__item--old-woman {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .process__item--guy .process__quote::before {
    left: 55px;
  }
  .process__item--guy .process__quote::after {
    left: 36px;
  }
  .process__item--old-man {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 768px) {
  .process__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .process__item {
    width: 333px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
  }
  .process__item .process__quote {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .process__item .process__quote::before, .process__item .process__quote::after {
    display: none;
  }
  .process__item--woman .process__quote {
    max-width: 220px;
    width: 100%;
    padding: 12px 20px 2px 20px;
    text-align: left;
  }
  .process__item--guy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .process__item--guy .process__quote {
    max-width: 218px;
    width: 100%;
    padding: 12px 27px 4px 30px;
  }
  .process__item--old-man {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .process__item--old-man .process__quote {
    max-width: 218px;
    width: 100%;
    padding: 12px 16px 5px 19px;
  }
  .process__item--old-woman {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .process__item--old-woman .process__quote {
    max-width: 215px;
    width: 100%;
    padding: 11px 16px 5px 19px;
  }
  .process__button {
    margin-top: 0;
  }
}

.pricing {
  margin: 0;
  padding: 0;
  margin-top: 150px;
}

.pricing__container {
  max-width: 1110px;
  margin: 0 auto;
}

.pricing__page-title {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #22343D;
}

.pricing__title {
  text-align: center;
  margin-bottom: 8px;
  color: #22343D;
}

.pricing__subtitle {
  text-align: center;
  margin-bottom: 50px;
}

.pricing__list {
  max-width: 1110px;
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing__item {
  width: 323px;
  height: 456px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.pricing__item--active {
  width: 323px;
  height: 456px;
  background: #02897A;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.pricing__free-title {
  margin-top: 24px;
  margin-bottom: 8px;
}

.pricing__free-description {
  margin-bottom: 16px;
}

.pricing__free-descriptions {
  margin-bottom: 16px;
}

.pricing__table {
  width: 154px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pricing__month strong {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  letter-spacing: 0.1px;
  color: #02897A;
}

.pricing__month small {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 119% */
  letter-spacing: 0.1px;
  /* second text */
  color: #AFAFAF;
}

.pricing__cost {
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #02897A;
}

.pricing__cost--active {
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.pricing__button {
  padding: 11px 19px;
  margin-top: 38px;
  background: #02897A;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.pricing__button--active {
  padding: 11px 19px;
  margin-top: 38px;
  background: #FFFFFF;
  color: #02897A;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

@media only screen and (max-width: 1131px) and (min-width: 768px) {
  .pricing__list {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pricing__item:nth-child(3n) {
    margin-top: 70px;
    -ms-flex-preferred-size: 323px;
        flex-basis: 323px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) {
  .pricing__container {
    width: 323px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing__subtitle {
    margin-bottom: 74px;
  }
  .pricing__list {
    width: 323px;
    margin-left: auto !important;
    margin-right: auto !important;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pricing__item {
    width: 323px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  .pricing__item--active {
    margin-bottom: 32px;
  }
}

.strategy {
  margin-top: 150px;
}

.strategy__title {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 8px;
}

.strategy__description {
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 33px;
}

.strategy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.strategy__item {
  max-width: 348px;
  border: 1px solid #dedede;
  border-radius: 8px;
  overflow: hidden;
}

.strategy__item--active .strategy__item-description {
  color: #02897A;
}

.strategy__img {
  margin-bottom: 24px;
}

.strategy__content {
  padding-left: 24px;
}

.strategy__item-title {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.strategy__item-title span {
  font-weight: bold;
}

.strategy__item-description {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 40px;
}

.strategy__carousel {
  width: 68px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.strategy__switcher {
  display: inline-block;
  background-color: #EFEFEF;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.stragety__switcher--active {
  background-color: #02897A;
}

@media only screen and (max-width: 1131px) {
  .strategy__title {
    text-align: center;
  }
  .strategy__description {
    text-align: center;
  }
  .strategy__list {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .strategy__item--active {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

.strategy__carousel {
  display: none;
}

@media only screen and (max-width: 768px) {
  .strategy {
    margin-top: 400px;
  }
  .strategy__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .strategy__description {
    margin-bottom: 40px;
  }
  .strategy__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: -16px;
  }
  .strategy__item {
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .strategy__item--active {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .strategy__item:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .strategy__carousel {
    display: none;
  }
}

.testimonials__container {
  max-width: 1150px;
  margin: auto;
  padding: 150px 20px 145px 20px;
}

.testimonials__title {
  text-align: center;
  margin-bottom: 8px;
  color: #22343D;
}

.testimonials__subtitle {
  margin-bottom: 50px;
  text-align: center;
  color: #22343D;
}

.testimonials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials__item {
  width: 326px;
  padding: 28px 26px 25px 26px;
  margin-bottom: 157px;
  list-style: none;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.testimonials__item::before {
  display: inline-block;
  width: 106px;
  height: 18px;
  margin-bottom: 16px;
  background-image: url("../../img/stars.svg");
  background-repeat: no-repeat;
  content: '';
}

.testimonials__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.2px;
  /* second-text-color */
  color: #737373;
  margin-bottom: 16px;
}

.testimonials__human {
  width: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials__human-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.person-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #02897A;
}

.person-job {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
}

@media only screen and (max-width: 1131px) {
  .testimonials__list {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -40px;
  }
  .testimonials__item {
    margin-bottom: 40px;
  }
  .testimonials__item:nth-child(3n) {
    -ms-flex-preferred-size: 323px;
        flex-basis: 323px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) {
  .testimonials__subtitle {
    width: 323px;
    margin-bottom: 32px;
  }
  .testimonials__list {
    width: 327px;
    margin-bottom: -32px;
  }
  .testimonials__item {
    width: 100%;
    margin-bottom: 32px;
  }
  .testimonials__description {
    width: 275px;
  }
}

.cta {
  margin-top: 157px;
}

.cta__container {
  max-width: 968px;
  background-color: #02897A;
  border-radius: 32px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cta__container::after {
  display: inline-block;
  width: 351px;
  height: 331px;
  background-image: url("../img/cta-bcg__img.png");
  background-repeat: no-repeat;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  content: '';
  margin-right: 36px;
}

.cta__content {
  padding: 49px 0 63px 51px;
}

.cta__desc {
  max-width: 510px;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #FFFFFF;
}

.cta__button {
  margin-top: 48px;
  color: #02897A;
  background-color: #FFFFFF;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #02897A;
  padding: 13px 35px 7px 33px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.cta__button:hover {
  cursor: pointer;
  background-color: #02897A;
  color: #fff;
  border: 1px solid #fff;
}

@media only screen and (max-width: 768px) {
  .cta__container {
    width: 371px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cta__container::after {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
  }
  .cta__content {
    width: 328px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .cta__button {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  margin-top: 150px;
}

.footer__container {
  max-width: 1109px;
}

.footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__social-img {
  width: 40px;
  height: 40px;
}

.footer__social-img:hover {
  fill: #64f1df;
}

.footer__link {
  text-decoration: none;
  color: #737373;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
}

.footer__link:hover {
  -webkit-text-decoration: underline blue;
          text-decoration: underline blue;
}

.footer__logo {
  margin-bottom: 28px;
}

.footer__head {
  color: #22343D;
}

.footer__description {
  width: 280px;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.footer__btn {
  width: 131px;
  margin-top: 21px;
  padding: 8px 15px 7px 15px;
  background: #02897A;
  border-radius: 4px;
  border: 1px solid #02897A;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.footer__btn:hover {
  background-color: transparent;
  color: #02897A;
  cursor: pointer;
}

.footer__end {
  margin-top: 16px;
  margin-bottom: 46px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #22343D;
}

.footer__input {
  width: 325px;
  height: 48px;
  padding: 10px 128px 10px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #22343D;
}

@media only screen and (max-width: 1131px) {
  .footer__list {
    max-width: 950px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__item {
    width: 332px;
  }
  .footer__item:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .footer__item:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media only screen and (max-width: 768px) {
  .footer__list {
    max-width: 361px;
    display: block;
    text-align: center;
  }
  .footer__socials {
    margin-bottom: 32px;
  }
  .footer__input {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 15px;
  }
  .footer__description {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .footer__item-resource {
    margin-bottom: 32px;
  }
  .footer__item-legal {
    margin-bottom: 32px;
  }
  .footer__btn {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 44px;
  }
  .footer__end {
    width: 361px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.pricing {
  margin: 0;
  padding: 0;
  margin-top: 150px;
}

.pricing__container {
  max-width: 1110px;
  margin: 0 auto;
}

.pricing__page-title {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #22343D;
}

.pricing__title {
  text-align: center;
  margin-bottom: 8px;
  color: #22343D;
}

.pricing__subtitle {
  text-align: center;
  margin-bottom: 50px;
}

.pricing__list {
  max-width: 1110px;
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing__item {
  width: 323px;
  height: 456px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.pricing__item--active {
  width: 323px;
  height: 456px;
  background: #02897A;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.pricing__free-title {
  margin-top: 24px;
  margin-bottom: 8px;
}

.pricing__free-description {
  margin-bottom: 16px;
}

.pricing__free-descriptions {
  margin-bottom: 16px;
}

.pricing__table {
  width: 154px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pricing__month strong {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  letter-spacing: 0.1px;
  color: #02897A;
}

.pricing__month small {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 119% */
  letter-spacing: 0.1px;
  /* second text */
  color: #AFAFAF;
}

.pricing__cost {
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #02897A;
}

.pricing__cost--active {
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.pricing__button {
  padding: 11px 19px;
  margin-top: 38px;
  background: #02897A;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.pricing__button--active {
  padding: 11px 19px;
  margin-top: 38px;
  background: #FFFFFF;
  color: #02897A;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

@media only screen and (max-width: 1131px) and (min-width: 768px) {
  .pricing__list {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pricing__item:nth-child(3n) {
    margin-top: 70px;
    -ms-flex-preferred-size: 323px;
        flex-basis: 323px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) {
  .pricing__container {
    width: 323px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing__subtitle {
    margin-bottom: 74px;
  }
  .pricing__list {
    width: 323px;
    margin-left: auto !important;
    margin-right: auto !important;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pricing__item {
    width: 323px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  .pricing__item--active {
    margin-bottom: 32px;
  }
}

.night-theme--active .header__box--opened {
  background-color: #fff;
}

.night-theme--active {
  background-color: #1F2E35;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  --white-background: #fff;
}

.night-theme--active .header__box--opened .header__item-link {
  color: black;
}

.night-theme--active .header__box--opened .header__button {
  color: black;
}

.night-theme--active * {
  color: #ffffff;
}

.night-theme--active .header {
  background-color: #1F2E35;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.night-background::after,
.night-background::before,
.header__burger-inner.night-background {
  background-color: var(--white-background);
}

.night-theme--active .built {
  background-image: url(../img/built-night-bg.png);
}

.night-theme--active .process__quote {
  color: #2F281E;
}

.night-theme--active .process {
  background-image: url(../img/process-night-bg.png);
  -webkit-transition: background-image 0.4s;
  transition: background-image 0.4s;
}

.night-theme--active .pricing__item {
  color: #1F2E35;
}

.night-theme--active .testimonials p, h4, h5 {
  color: black;
}
/*# sourceMappingURL=main.css.map */