*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0; 
  padding: 0;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #22343D;
  height: 100vh;

  transition: background-color 0.4s;

  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  left: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 5;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}