.night-theme--active {
    background-color: #1F2E35;
    transition: background-color 0.4s;
    --text-color: #fff;
    --white-background: #fff;
}

.white-color {
    color: var(--text-color);
}

.white-color strong {
    color: var(--text-color);
}

.night-background::after,
.night-background::before,
.header__burger-inner.night-background {
    background-color: var(--white-background);
}