.night-theme--active .header__box--opened {
    background-color: #fff;
}

.night-theme--active {
    background-color: #1F2E35;
    transition: background-color 0.4s;
    --white-background: #fff;


    & .header__box--opened .header__item-link {
        color: black;
    }

    & .header__box--opened .header__button {
        color: black;
    }
}


.night-theme--active * {
    color: #ffffff;
}



.night-theme--active .header {
    background-color: #1F2E35;
    transition: background-color 0.4s;
}

// .white-color strong {
// //     color: var(--text-color);
// // }

.night-background::after,
.night-background::before,
.header__burger-inner.night-background {
    background-color: var(--white-background);
}

.night-theme--active .process__quote {
    color: #2F281E;
}

.night-theme--active .process {
    background-image: url(../img/process-night-bg.png);
    transition: background-image 0.4s;
}