.pricing {
  margin: 0;
  padding: 0;
  margin-top: 150px;
}

.pricing__container {
  max-width: 1110px;
  margin: 0 auto;
}

.pricing__page-title {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #22343D;
}

.pricing__title {
  text-align: center;
  margin-bottom: 8px;
  color: #22343D;
}

.pricing__subtitle {
  text-align: center;
  margin-bottom: 50px;
}

.pricing__list {
  max-width: 1110px;
  text-align: center;
  @include reset-list;
}

.pricing__item {
  width: 323px;
  height: 456px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  &--active {
    width: 323px;
    height: 456px;
    background: #02897A;
    color: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
}

.pricing__free-title {
  margin-top: 24px;
  margin-bottom: 8px;
}

.pricing__free-description {
  margin-bottom: 16px;
}

.pricing__free-descriptions {
  margin-bottom: 16px;
}

.pricing__table {
  width: 154px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing__month {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pricing__month strong {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */

  letter-spacing: 0.1px;

  color: #02897A;
}

.pricing__month small {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 119% */

  letter-spacing: 0.1px;

  /* second text */

  color: #AFAFAF;
}


.pricing__cost {
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #02897A;

  &--active {
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
}

.pricing__button {
  padding: 11px 19px;
  margin-top: 38px;
  background: #02897A;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  &--active {
    padding: 11px 19px;
    margin-top: 38px;
    background: #FFFFFF;
    color: #02897A;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}

@media only screen and (max-width: $tablet) and (min-width: $mobile) {
  .pricing__list {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }

  .pricing__item:nth-child(3n) {
    margin-top: 70px;
    flex-basis: 323px;
    margin-left: auto;
    margin-right: auto;
    // flex-grow: 1;
  }
}

@media only screen and (max-width: $mobile) {
  .pricing__container {
    width: 323px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing__subtitle {
    margin-bottom: 74px;
  }

  .pricing__list {
    width: 323px;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: unset;
    flex-direction: column;
  }

  .pricing__item {
    width: 323px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;

    &--active {
      margin-bottom: 32px;
    }
  }
}